.heroSection {
  --overlay-color: rgba(0, 0, 0, 0.5);

  background:
    linear-gradient(to right, var(--overlay-color), rgba(0, 0, 0, 0)), url(../assets/backgrounds/hero-image.png);
  background-position: center;
  background-size: cover;
  height: var(--page-content-height);
  position: relative;
  will-change: transform;
  z-index: -1;

  @mixin smaller-than $mantine-breakpoint-sm {
    background: linear-gradient(to bottom, var(--overlay-color)), url(../assets/backgrounds/hero-image.png);
    background-position: center;
    background-size: cover;
  }
}

.heroWrapper {
  height: var(--page-content-height);
}

.heroContent {
  color: var(--mantine-color-white);
  font-family: var(--accent-font);
}

.heroTitle,
.heroImageCredits {
  max-width: 75%;

  @mixin smaller-than $mantine-breakpoint-sm {
    max-width: 100%;
    text-align: center;
  }
}

.heroTitle {
  font-family: inherit;
  font-size: 3.5rem;
  line-height: 1.05;
}

.heroImageCredits {
  margin-top: var(--mantine-spacing-lg);
  opacity: 0.75;
}

.sectionsWrapper {
  border-left: none;
  border-right: none;
}

.section {
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  padding-top: calc(var(--mantine-spacing-xl) * 2);

  @mixin smaller-than $mantine-breakpoint-sm {
    padding-bottom: var(--mantine-spacing-xl);
    padding-top: var(--mantine-spacing-xl);
  }
}

.sectionDescription {
  color: var(--mantine-color-dimmed);
  margin-top: var(--mantine-spacing-xs);
}

.experienceImage {
  height: 100%;

  @mixin smaller-than $mantine-breakpoint-sm {
    max-height: 15rem;
  }
}

.experienceTimeline {
  padding-top: var(--mantine-spacing-xl);
}

.contactsHeader {
  @mixin smaller-than $mantine-breakpoint-sm {
    text-align: center;
  }
}

.contactsTitle {
  font-size: calc(var(--mantine-font-size-lg) * 2);
}

.contactsSubtitle {
  color: var(--mantine-color-dimmed);
}
