.heroSection {
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../../assets/backgrounds/hero-image.png);
  background-position: center;
  background-size: cover;
  height: var(--page-content-height);
}

.heroTitle,
.heroImageCredits {
  color: var(--mantine-color-white);
  max-width: 75%;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.heroTitle {
  font-size: 3.5rem;
  line-height: 1.05;
}

.heroImageCredits {
  margin-top: var(--mantine-spacing-lg);
  opacity: 0.75;
}

.sectionTitle {
  text-align: center;
}

.sectionDescription {
  color: var(--mantine-color-dimmed);
  margin-top: var(--mantine-spacing-md);
}

.techStackSection {
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  padding-top: calc(var(--mantine-spacing-xl) * 2);
}

.timelinesCardImage {
  height: 100%;

  @media (max-width: $mantine-breakpoint-sm) {
    max-height: 15rem;
  }
}

.timelinesCardContent {
  padding: var(--mantine-spacing-xl);
}

.timeline {
  padding-top: var(--mantine-spacing-xl);
}
