.bioSection {
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/backgrounds/static-background.jpeg);
  color: var(--mantine-color-white);
}

.bioSectionInner {
  flex-direction: row;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column-reverse;
  }
}

.bioImage {
  max-height: 50vh;
}

.bioImageCaption {
  margin-left: var(--mantine-spacing-xs);
  margin-top: var(--mantine-spacing-xs);
  opacity: 0.75;
}
